<!DOCTYPE html>
<html>

<head>
    <title>DNA Toronto Supernode</title>
    <meta charset="UTF-8">
    <meta name="description"
        content="DNA Oracle network is made up by thousands of Data Feeding Miners, each miner will collect internet data independently, upload to the oracle's smart contract and come up with a final data, which can be considered decentralized data source." />
    <meta property="og:description"
        content="DNA Oracle network is made up by thousands of Data Feeding Miners, each miner will collect internet data independently, upload to the oracle's smart contract and come up with a final data, which can be considered decentralized data source." />
    <meta name="twitter:description"
        content="DNA Oracle network is made up by thousands of Data Feeding Miners, each miner will collect internet data independently, upload to the oracle's smart contract and come up with a final data, which can be considered decentralized data source." />
    <meta name="keywords"
        content="krawlcat, crawlcat, yesbit, Blockchain,Miner,bitcoin,Bitcoin,linkcoin,Yesbit,ERC20,Oracle,预言机,POD,Proof of Data,比特币,数字资产,以太坊,上链, 克拉猫">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/slick/slick.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.min.css" rel="stylesheet" type="text/css" />
    <link rel="icon" sizes="57x57" href="/img/fav.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <div class="top-menu">
        <div class="container">
            <div class="navbar navbar-expand-lg d-flex ">
                <a class="navbar-brand main-logo" href="#"><img src="/img/supernode/logo.png" /></a>
                <div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-language lang" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/supernode">ENG</a>
                        <a href="/supernode-cn">中文</a>
                        <!-- <a id="intro_link" href="docs/intro_CN_2.4.pdf" target="_blank">
							介绍
							<img id="intro_qr" src="/img/supernode/intro.png">
						</a> -->
                    </div>
                </div>
            </div>
            <!-- /.navbar-header -->
        </div>
    </div>

    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center section-title">
                    <label class="orange">Blockchain Oracle</label>
                    <h1 class="white">DNA Toronto Supernode<br /></h1>
                </div>
                <div class="container" style="max-width: 900px;">
                    <div>
                        <p style="text-align: center; margin: 15px"><br />
                            <font size="5" color="#FFFFFF">
                                <br>DNA Toronto Supernode is focusing on building a stable DNA network，
                                <br>brings an important contribution to maximize the data communication efficiency with
                                the DNA community.
                            </font>
                        </p>
                        <div class="section-title">
                            <a href="https://www.dnavote.com/">
                                <p style="text-align: center;"><br />
                                    <label class="orange">Vote for DNA Toronto Supernode</label>
                                </p>
                            </a>
                        </div>
                        <div class="container center_div">
                            <div class="row">
                                <div class="col-12  d-flex justify-content-center  ">
                                    <button onclick="location.href='https://www.dnavote.com/'" type="button"
                                        id="mc-embedded-subscribe" class="btn btn-orange-dark">CLICK TO VOTE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>

    <section id="section-company introduction">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center introduction-title">
                    <label class="section-title orange">About Us</label>
                    <h3 class="section-title white">Introduction </h3>
                </div>
                <div
                    class="company-holder d-flex justify-content-center align-items-center flex-column introduction-content">
                    <label class="orange introduction-subtitle">DNA Toronto Supernode</label>
                    <p class="white card-content g-intro">
                        DNA Toronto Supernode is mainly responsible for: Developing the Blockchain Oracle system for DNA
                        network. By combining the high TPS in DNA
                        network, the Oracle system effectively provides the Data API for preparing for all the furthuer
                        developments.
                    </p>
                </div>
                <div
                    class="company-holder d-flex justify-content-center align-items-center flex-column introduction-content">
                    <label class="orange introduction-subtitle">DNA Toronto Supernode's Oracle System</label>
                    <p class="white card-content g-intro">Our Blockchain Oracle supports the data communication between
                        DNA network, Ethereum and the Internet. Breaks the imforamtion barrier which has been caused by
                        the network structure's difference, expands the cover range of the combination of networks. </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-company">
        <div class="container">
            <div>
                <br />
                <br />
                <div class="row">
                    <div
                        class="col-12 col-md-6 col-lg-4 company-holder d-flex justify-content-center align-items-start flex-column">
                        <img class="function-img" src="/img/supernode/img1.png" alt="img1" />
                        <label class="section-title white">Technical Structure</label>
                        <p class="white card-content">We are advanced in building the information communication bridge
                            for the
                            system structure. All developers in our tech team have more than six years' experience in
                            Full-Stack development. </p>
                    </div>
                    <div
                        class="col-12 col-md-6 col-lg-4 company-holder d-flex justify-content-center align-items-start flex-column">
                        <img class="function-img" src="/img/supernode/img2.png" alt="img2" />
                        <label class="section-title white">Suitable DApp Categories</label>
                        <p class="white card-content">The data we transform is important for the developing environment
                            in DNA network and suitable for the decentralized exchange, crypto wallet and blockchain
                            game.
                        </p>
                    </div>
                    <div
                        class="col-12 col-md-6 col-lg-4 company-holder d-flex justify-content-center align-items-start flex-column">
                        <img class="function-img" src="/img/supernode/interoperability.png" alt="img3" />
                        <label class="section-title white">DApp Incubation</label>
                        <p class="white card-content">We create and maintain the DNA community with all the talented DNA
                            developers together, don't hesitate to contact us if you have any creative idea and a good
                            tech team!</p>
                    </div>

                </div>
    </section>

    <section class="footer">
        <div class="container">
            <div class="row footer-holder">
                <div class="col-12 col-md-5 mb-5 mb-md-0">
                    <label>DNA Toronto Supernode</label>
                    <ul class="navbar-nav d-flex justify-content-end align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" href="http://1973alliance.com">Blockchain Oracle Official website</a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-md-3 mb-5 mb-md-0">
                    <label>Social Media</label>
                    <ul class="navbar-nav d-flex justify-content-end align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/SuperTorontoDNA">Twitter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="https://weibo.com/u/5025457753?topnav=1&wvr=6&topsug=1&is_hot=1">Weibo</a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-md-3 mb-5 mb-md-0">
                    <label>Partner</label>
                    <a href="http://mvsdna.com/">
                        <div class="partner-wrapper">
                            <img class="member-photo" src="/img/supernode/projects/dna.png">
                        </div>
                    </a>
                    <a href="https://mvs.org">
                        <div class="partner-wrapper">
                            <img class="member-photo" src="/img/supernode/projects/metaverse.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>2019-2020 DNA Tornto Supernode:
                        <a href="mailto:support@krawlcat.com">support@dnaoracle.com</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="js/jquery-3-3-1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/slick/slick.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>

    <div id="youtubem" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-x" data-dismiss="modal"><i class="fa fa-times"></i></button>
                </div>
                <div class="modal-body">
                    <div class="videoWrapper">
                        <div class="player"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Youtube script-->
    <script>
        var rand = Math.floor((Math.random() * 1000) + 1);
        jQuery('.player').attr('id', 'player' + rand);

        if (document.getElementById('iframe_api') === null) {
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            tag.id = "iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)
        } else {
            runplayer();
        }
        var player;
        var done = false;

        function runplayer() {
            player = new YT.Player('player' + rand, {
                height: '480',
                width: '853',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                },
                playerVars: {
                    controls: 1,
                    rel: 0

                }
            });
        }

        function onYouTubeIframeAPIReady() {
            runplayer();
        }

        function onPlayerReady(event) {

        }

        function starter(video) {
            player.loadVideoById(video, 0, "large");
        }

        function onPlayerStateChange(event) {
            if (player.getPlayerState() == 1) {
                if (player.isMuted() == true) {
                    player.unMute();
                }
            }
            if (event.data == YT.PlayerState.PLAYING && !done) {

            }
            if (event.data === 0) { }
        }
        jQuery('.btn-video').click(function (e) {
            e.preventDefault();
            var v = jQuery(this).attr('href');
            if (v == undefined) {
                var v = jQuery(this).parent().attr('href');
            }
            var videoid = v.split("?v=");
            starter(videoid[1]);
            jQuery('#youtubem').modal('show');

        });
        jQuery('#youtubem.modal.fade.in').click(function () {
            window.player.stopVideo();
        });
        jQuery('#youtubem button,#youtubem').click(function () {
            window.player.stopVideo();
        });

        function over() {
            img = document.getElementById("img");
            img.style.display = "block";
        }

        function out() {
            img = document.getElementById("img");
            img.style.display = "none";
        }

        function showPic(e, sUrl) {
            var x, y;
            x = e.clientX;
            y = e.clientY;
            document.getElementById("Layer1").style.left = x + 2 + 'px';
            document.getElementById("Layer1").style.top = y + 2 + 'px';
            document.getElementById("Layer1").innerHTML = "<img border='0' src=\"" + sUrl + "\">";
            document.getElementById("Layer1").style.display = "";
        }

        function hiddenPic() {
            document.getElementById("Layer1").innerHTML = "";
            document.getElementById("Layer1").style.display = "none";
        }
    </script>
</body>

</html>