<!DOCTYPE html>
<html>

<head>
    <title>DNA多伦多超级节点</title>
    <meta charset="UTF-8">
    <meta name="description" content="DNA预言机由成千上万数据源组成，每一个数据源请求网络数据源后录入智能合约。智能合约选择合理数据后进行中位数更新，整个过程及时透明，数据符合去中心化要求。" />
    <meta property="og:description"
        content="DNA预言机由成千上万数据源组成，每一个数据源请求网络数据源后录入智能合约。智能合约选择合理数据后进行中位数更新，整个过程及时透明，数据符合去中心化要求。" />
    <meta name="twitter:description"
        content="DNA预言机由成千上万数据源组成，每一个数据源请求网络数据源后录入智能合约。智能合约选择合理数据后进行中位数更新，整个过程及时透明，数据符合去中心化要求。" />
    <meta name="keywords"
        content="krawlcat, crawlcat, yesbit, Blockchain,Miner,bitcoin,Bitcoin,linkcoin,Yesbit,ERC20,Oracle,预言机,POD,Proof of Data,比特币,数字资产,以太坊,上链, 克拉猫">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="js/slick/slick.css" rel="stylesheet" type="text/css" />
    <link href="css/main.min.css" rel="stylesheet" type="text/css" />
    <link rel="icon" sizes="57x57" href="/img/fav.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <div class="top-menu">
        <div class="container">
            <div class="navbar navbar-expand-lg d-flex ">
                <a class="navbar-brand main-logo" href="#"><img src="/img/supernode/logo-cn.png" /></a>
                <div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-language lang" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/supernode">ENG</a>
                        <a href="/supernode-cn">中文</a>
                        <!-- <a id="intro_link" href="docs/intro_CN_2.4.pdf" target="_blank">
							介绍
							<img id="intro_qr" src="img/intro.png">
						</a> -->
                    </div>
                </div>
            </div>
            <!-- /.navbar-header -->
        </div>
    </div>

    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center section-title">
                    <label class="orange">区块链预言机</label>
                    <h1 class="white">DNA多伦多超级节点<br /></h1>
                </div>
                <div class="container" style="max-width: 900px;">
                    <div>
                        <p style="text-align: center; margin: 15px"><br />
                            <font size="5" color="#FFFFFF">
                                <br>DNA多伦多超级节点致力于建立一个公平稳定的DNA网络，
                                <br>在促进DNA的开发环境与网络通信建设中起到重要作用。
                            </font>
                        </p>
                        <div class="section-title">
                            <a href="https://www.dnavote.com/">
                                <p style="text-align: center;"><br />
                                    <label class="orange">为DNA多伦多超级节点投票</label>
                                </p>
                            </a>
                        </div>
                        <div class="container center_div">
                            <div class="row">
                                <div class="col-12  d-flex justify-content-center  ">
                                    <button onclick="location.href='https://www.dnavote.com/'" type="button"
                                        id="mc-embedded-subscribe" class="btn btn-orange-dark">点击投票</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>

    <section id="section-company introduction">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center introduction-title">
                    <label class="section-title orange">关于我们</label>
                    <h3 class="section-title white">介绍 </h3>
                </div>
                <div
                    class="company-holder d-flex justify-content-center align-items-center flex-column introduction-content">
                    <label class="orange introduction-subtitle">DNA多伦多超级节点</label>
                    <p class="white card-content g-intro">
                        DNA多伦多超级节点主要业务：开发在高性能DNA区块链主网上运行的预言机系统，预言机系统充分利用DNA高TPS的性能优势，在DNA主网提供预言机数据接口，方便区块链开发人员进行应用。</p>
                </div>
                <div
                    class="company-holder d-flex justify-content-center align-items-center flex-column introduction-content">
                    <label class="orange introduction-subtitle">DNA多伦多超级节点附属预言机系统</label>
                    <p class="white card-content g-intro">
                        支持DNA，以太坊与互联网的跨链数据通信，打破不同网络架构间的信息屏障，拓展网络组合的覆盖范围，使开发进程更加高效与更具灵活性。</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-company">
        <div class="container">
            <div>
                <br />
                <br />
                <div class="row">
                    <div
                        class="col-12 col-md-6 col-lg-4 company-holder d-flex justify-content-center align-items-start flex-column">
                        <img class="function-img" src="/img/supernode/img1.png" alt="img1" />
                        <label class="section-title white">技术架构 </label>
                        <p class="white card-content">技术团队由拥有超过6年经验的资深全栈工程师组成，搭建包括跨链信息传输、分布式系统等所需系统架构。</p>
                    </div>
                    <div
                        class="col-12 col-md-6 col-lg-4 company-holder d-flex justify-content-center align-items-start flex-column">
                        <img class="function-img" src="/img/supernode/img2.png" alt="img2" />
                        <label class="section-title white">DApp应用范围</label>
                        <p class="white card-content">所传输的数据类别适用于去中心化交易所、加密货币钱包、区块链游戏等，为丰富DNA开发环境打下坚实的基础。</p>
                    </div>
                    <div
                        class="col-12 col-md-6 col-lg-4 company-holder d-flex justify-content-center align-items-start flex-column">
                        <img class="function-img" src="/img/supernode/interoperability.png" alt="img4" />
                        <label class="section-title white">DApp孵化器</label>
                        <p class="white card-content">与DNA社区一起，创建并维护搭建在DNA网络中的DApp孵化。我们欢迎所有具有优秀创造力的开发团队与我们联系。</p>
                    </div>

                </div>
    </section>
    <section class="section-newsletter orange-bg">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="container">
            <div class="row footer-holder">
                <div class="col-12 col-md-4 mb-5 mb-md-0">
                    <label>DNA多伦多超级节点</label>
                    <ul class="navbar-nav d-flex justify-content-end align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" href="http://1973alliance.com">预言机系统官方网站</a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-md-3 mb-5 mb-md-0">
                    <label>社交媒体</label>
                    <ul class="navbar-nav d-flex justify-content-end align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/SuperTorontoDNA">推特</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="https://weibo.com/u/5025457753?topnav=1&wvr=6&topsug=1&is_hot=1">微博</a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-md-3 mb-5 mb-md-0">
                    <label>合作伙伴</label>
                    <a href="http://mvsdna.com/">
                        <div class="partner-wrapper">
                            <img class="member-photo" src="img/projects/dna.png">
                        </div>
                    </a>
                    <a href="https://mvs.org">
                        <div class="partner-wrapper">
                            <img class="member-photo" src="img/projects/metaverse.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>2019-2020 DNA多伦多超级节点
                        <a href="mailto:support@krawlcat.com">support@dnaoracle.com</a>
                    </p>
                </div>
            </div>
    </section>

    <script type="text/javascript" src="js/jquery-3-3-1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/slick/slick.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>

    <div id="youtubem" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-x" data-dismiss="modal"><i class="fa fa-times"></i></button>
                </div>
                <div class="modal-body">
                    <div class="videoWrapper">
                        <div class="player"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Youtube script-->
    <script>
        var rand = Math.floor((Math.random() * 1000) + 1);
        jQuery('.player').attr('id', 'player' + rand);

        if (document.getElementById('iframe_api') === null) {
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            tag.id = "iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)
        } else {
            runplayer();
        }
        var player;
        var done = false;

        function runplayer() {
            player = new YT.Player('player' + rand, {
                height: '480',
                width: '853',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                },
                playerVars: {
                    controls: 1,
                    rel: 0

                }
            });
        }

        function onYouTubeIframeAPIReady() {
            runplayer();
        }

        function onPlayerReady(event) {

        }

        function starter(video) {
            player.loadVideoById(video, 0, "large");
        }

        function onPlayerStateChange(event) {
            if (player.getPlayerState() == 1) {
                if (player.isMuted() == true) {
                    player.unMute();
                }
            }
            if (event.data == YT.PlayerState.PLAYING && !done) {

            }
            if (event.data === 0) { }
        }
        jQuery('.btn-video').click(function (e) {
            e.preventDefault();
            var v = jQuery(this).attr('href');
            if (v == undefined) {
                var v = jQuery(this).parent().attr('href');
            }
            var videoid = v.split("?v=");
            starter(videoid[1]);
            jQuery('#youtubem').modal('show');

        });
        jQuery('#youtubem.modal.fade.in').click(function () {
            window.player.stopVideo();
        });
        jQuery('#youtubem button,#youtubem').click(function () {
            window.player.stopVideo();
        });

        function over() {
            img = document.getElementById("img");
            img.style.display = "block";
        }

        function out() {
            img = document.getElementById("img");
            img.style.display = "none";
        }

        function showPic(e, sUrl) {
            var x, y;
            x = e.clientX;
            y = e.clientY;
            document.getElementById("Layer1").style.left = x + 2 + 'px';
            document.getElementById("Layer1").style.top = y + 2 + 'px';
            document.getElementById("Layer1").innerHTML = "<img border='0' src=\"" + sUrl + "\">";
            document.getElementById("Layer1").style.display = "";
        }

        function hiddenPic() {
            document.getElementById("Layer1").innerHTML = "";
            document.getElementById("Layer1").style.display = "none";
        }
    </script>
</body>

</html>