<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="../public/Swapall/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="../public/Swapall/icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/Swapall/icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/Swapall/icon.png">
    <link rel="manifest" href="">

    <!-- <link href="../Swapall/css2" rel="stylesheet"> -->

    <link rel="stylesheet" href="../public/Swapall/all.min.css">
    <link href="../public/Swapall/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/Swapall/styles.css">

    <title>Swapall-Lightning Puffs</title>
    <meta name="description"
        content="An advanced Decentralized Finance exchange with the expanding liquidity and more earnings.">
    <meta name="”robots”" content="index, follow">
</head>

<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
    <div class="language-select">
        <!-- <a class="" href="https://unitrade.app/index.html" title="English"><img src="./Swapall/us-flag.png"></a> -->
        <!-- <a class="active" href="https://unitrade.app/index_zh.html" title="Mandarin"><img
                src="../Swapall/china-flag.png"></a> -->
    </div>

    <div class="texture-bg hero-wrapper">
        <header class="container-fluid container-lg">
            <div class="row">
                <div class="col-md-4 col-lg-5">
                    <a href="" class="logo aos-init aos-animate" data-aos="fade-down" data-aos-delay="600">
                        <img src="../public/Swapall/logo.png" alt="swapall Logo">
                    </a>

                    <!-- <ul class="social-links gray">
                        <li data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate"><a href=""
                                target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
                        <li data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate"><a href=""
                                target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li data-aos="fade-up" data-aos-delay="400" class="aos-init aos-animate"><a href=""
                                target="_blank"><i class="fab fa-discord"></i></a>
                        </li>
                    </ul> -->
                </div>
                <div class="col-md-8 col-lg-7">
                    <ul class="menu">
                        <li><a style="color:white" href="#swapall-benefits">Features</a></li>
                        <li><a style="color:white" href="#swapall-platform">Whitepaper</a></li>
                        <li><a style="color:white" href="#what-is-swapall-token-for">Token</a></li>
                        <li><a style="color:white" href="#swapall-roadmap">Roadmap</a></li>
                        <!-- <li><a class="btn-circle" href="mailto:">Contact</a></li> -->
                    </ul>
                </div>
            </div>
        </header>

        <section id="hero" class="container section full-height">
            <br><br>
            <h1 data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">An advanced DeFi with
                more <span>liquidity</span> and <span> earnings</span>.</h1>
            <h2 data-aos="fade-up" data-aos-delay="400" class="aos-init aos-animate">No KYC. No Impermanent Loss. No
                Centralized.
            </h2>
            <div class="button-holder">
                <!-- <a data-aos="fade-up" data-aos-delay="1000" href="" class="button aos-init aos-animate"
                    target="_blank">Get Swapapp Token</a> -->
                <!--                <a data-aos="fade-up" data-aos-delay="1200" href="../public/Swapall/Swapall_Whitepaper.pdf"-->
                <!--                    class="button paper aos-init aos-animate" target="_blank">Whitepaper</a>-->
            </div>

            <p>The absolutely new path to DeFi <i class="fas fa-chevron-down"></i></p>
        </section>

        <img class="swapall-preview-dashboard aos-init aos-animate" data-aos="zoom-in-up" data-aos-offset="220"
            data-aos-duration="900" src="../public/Swapall/bg_en.png" alt="Swapall">

        <!-- <div class="bg-img-1" style="background-image: url(&#39;images/header_dots_circle.png&#39;)"></div>
        <div class="bg-img-2" style="background-image: url(&#39;images/header_dots_square.png&#39;)"></div> -->
    </div>

    <section id="swapall-platform" class="section white-bg full-height" style="position: relative; z-index: 5;">
        <div class="container">
            <div class="row" style="overflow-x: hidden; overflow-y: hidden;">
                <div class="col-md-6">
                    <h1><span>Swapall</span> - DeFi<br>Exchange - Pool</h1>
                    <p>Swapall is a decentralized trading platform in the DeFi era, built for the lightning trading with
                        no
                        KYC required and no impernanent loss appears. We maximize the profit for all users.</p>

                    <ul>
                        <li data-aos="fade-left" data-aos-offset="200" class="aos-init" style="font-weight: 800;">For
                            Whitepaper inquiry, please
                            contact <a href="mailto:support@krawlcat.com"
                                style="color:#3F60B3;">support@krawlcat.com</a>.
                        </li>
                        <li data-aos="fade-left" data-aos-offset="200" class="aos-init">DEX's (Decentralized Exchanges)
                            are growing rapidly, the userbase has also expanded exponentially, with having a growth of
                            30K/month.
                        </li>
                        <li data-aos="fade-left" data-aos-offset="200" class="aos-init">Although DeFi is still in its
                            early age with requiring the continuous improvement, we belive DeFi will have a long and
                            bright future, so we contribute our serious but creative project to all DeFi users.
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 platform-image" style="overflow: hidden">
                    <div class="swapall-platform-img-wrapper">
                        <img data-aos="zoom-in-up" data-aos-offset="235" data-aos-duration="900"
                            class="img-preview-1 aos-init" src="../public/Swapall/preview_en.png" alt="
                            Swapall">

                    </div>
                </div>
            </div>
        </div>

        <div class="bg-img-1" style="background-image: url(&#39;images/dots_square.png&#39;)"></div>
    </section>

    <div class="texture-bg">
        <section id="swapall-benefits" class="section">
            <div class="container">
                <div class="row" style="overflow-x: hidden">
                    <div class="col-md-4 col-sm-6">
                        <h1>Features</h1>
                    </div>

                    <div class="col-md-4 col-sm-6 aos-init" data-aos="fade-left">
                        <div class="swapall-benefits-box">
                            <i class="fas fa-redo-alt"></i>
                            <h4>Speed Trade</h4>
                            <p>The fastest Swap platform with the matching algorithm, the system provides the solution
                                by migrating from a semi-centralized off-chain to Layer 2 in two-step
                                Lightning transactions.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 aos-init" data-aos="fade-left">
                        <div class="swapall-benefits-box">
                            <i class="far fa-calendar-check"></i>
                            <h4>Automatic Market Maker</h4>
                            <p>
                                <ul>
                                    <li>Dynamic weighting algorithm-EIP1973 oracle program to feed the puff dynamic
                                        weighting algorithm.</li>
                                    <li>Liquidity Leverage Algorithm – Achieve a 20-fold increase in liquidity.</li>
                                    <li>Allow to provide liquidity of a single token.</li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="swapall-benefits-box">
                            <i class="fas fa-tint"></i>
                            <h4>Effective User Experience</h4>
                            <p>The easiest and the most simple user experience design, we are getting rid of the
                                multi-step barrier in exchanging and staking, with finishing in 1-click instead. </p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 aos-init" data-aos="fade-left">
                        <div class="swapall-benefits-box">
                            <i class="fas fa-chart-bar"></i>
                            <h4>Privacy Trading Agreement</h4>
                            <p>
                                Swapall supports private exchange, comes with its own currency-mixing function, making
                                sure users' personal data is not trackable.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 aos-init" data-aos="fade-left">
                        <div class="swapall-benefits-box">
                            <i class="fas fa-book"></i>
                            <h4>Direct to On-Chain Giants</h4>
                            <p>Combine the advantages of IEO and IYO to create a new Defi
                                experience. Multi-chain deposit and withdrawal are supported in one-stop service on
                                Swapall.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="bg-img-special">
            <div class="bg-img-1" style="background-image: url(&#39;images/dots_triangle.png&#39;)"></div>
        </div>
        <!--
        <section id="swapall-quote" class="section aos-init" data-aos="fade-up-right" data-aos-offset="120"
            data-aos-duration="700">
            <div class="container">
                <div class="swapall-logo">
                    <img src="https://unitrade.app/index_zh.html">
                    <i class="fas fa-quote-left"></i>
                </div>
                <p class="quote">
                    "Uniswap 是一个非常不错的平台，但是可能是因为还太新了，基础建设还不完善。我常常想他们要是可以自由挂单交易就好了。可惜那时还没有人实现简单的自动化交易。
                    那就是我们做 <span>UniTrade</span> 的灵感来源。"
                </p>
                <p class="quote-author"><a href="https://twitter.com/reborn_1002" target="_blank"><i
                            class="fab fa-twitter"></i> @Reborn1002</a>, 创始人兼开发人员</p>
            </div>
        </section> -->
    </div>

    <section id="what-is-swapall-token-for" class="section white-bg">
        <div class="container">
            <h1>Swapall<span>(SAP)</span> What is the Swapall Token for?</h1>

            <div class="swapall-token-for-mobile" style="overflow-x: hidden">

                <div class="steps">
                    <div class="block aos-init" data-aos="fade-left">
                        <div class="emoji aos-init" style="background-color: #e9f1ff;" data-aos="zoom-in-up"
                            data-aos-offset="200"><i class="fas fa-coins"></i></div>
                        <div>
                            <h4>Profit Sharing</h4>
                            <p>
                                All the commission, transaction fee in the Swapall open financial system will be shared
                                with both SAP liquidity providers and traders.</p>
                        </div>
                    </div>

                    <div class="block aos-init" data-aos="fade-left">
                        <div class="emoji aos-init" style="background-color: #e9f1ff;" data-aos="zoom-in-up"
                            data-aos-offset="200"><i class="fas fa-keyboard"></i></div>
                        <div>
                            <h4>Liquid Staking</h4>
                            <p> SAP can be used in participating in the liquid staking, and earn more tokens for the
                                profit further.</p>
                        </div>
                    </div>

                    <div class="block aos-init" data-aos="fade-left">
                        <div class="emoji aos-init" style="background-color: #e9f1ff;" data-aos="zoom-in-up"
                            data-aos-offset="200"><i class="fas fa-money-bill-wave-alt"></i></div>
                        <div>
                            <h4>Governance Token</h4>
                            <p>Users can use their SAP token to participate in the ecosystem governance, through voting
                                for mining parameters and improvement proposals.
                            </p>
                        </div>
                    </div>

                    <div class="block aos-init" data-aos="fade-left">
                        <div class="emoji aos-init" style="background-color: #e9f1ff;" data-aos="zoom-in-up"
                            data-aos-offset="200"><i class="fas fa-users"></i></div>
                        <div>
                            <h4>Lending and Funding</h4>
                            <p>Expanding the underlying assets used for lending, enhancing the users’ capital liquidity
                                and reducing the borrowing cost.</p>
                        </div>
                    </div>

                </div>
                <hr>
            </div>

            <div class="swapall-token-for">

                <div class="token-for-wrapper">

                    <div class="token-for-item">
                        <span>1</span>
                        <div class="icon-box">
                            <i class="fas fa-coins"></i>
                        </div>
                        <h4>Profit Sharing</h4>
                        <p>All the commission, transaction fee in the Swapall open financial system will be shared
                            with both SAP liquidity providers and traders.</p>
                    </div>

                    <div class="token-for-item">
                        <span>2</span>
                        <div class="icon-box">
                            <i class="fas fa-keyboard"></i>
                        </div>
                        <h4>Liquid Staking</h4>
                        <p>SAP can be used in participating in the liquid staking, and earn more tokens for the
                            profit further..</p>
                    </div>

                    <div class="token-for-item">
                        <span>3</span>
                        <div class="icon-box">
                            <i class="fas fa-money-bill-wave-alt"></i>
                        </div>
                        <h4>Governance Token</h4>
                        <p>Users can use their SAP token to participate in the ecosystem governance, through voting
                            for mining parameters and improvement proposals.</p>
                    </div>

                    <div class="token-for-item">
                        <span>4</span>
                        <div class="icon-box">
                            <i class="fas fa-users"></i>
                        </div>
                        <h4>Lending and Funding</h4>
                        <p>Expanding the underlying assets used for lending, enhancing the users’ capital liquidity
                            and reducing the borrowing cost.</p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="swapall-token-information" class="section white-bg">

        <div class="container">
            <div class="row token-info-wrapper">
                <div class="col-md-6 order-md-2 col-lg-8">
                    <div class="swapall-token-header">
                        <img src="../public/Swapall/icon.png" alt="swapall 代币信息 swapall" data-aos="fade-right"
                            class="aos-init">
                        <h3 data-aos="fade-left" class="aos-init">Swapall</h3>
                    </div>

                    <h1>SAP Token</h1>
                    <!-- <p>Total Supply:<span>60 Millions</span></p> -->

                    <div class="swapall-token-breakdown aos-init" data-aos="fade-up">

                        <table data-aos="fade-up" data-aos-offset="200" class="aos-init">
                            <tbody>
                                <tr>
                                    <td class="icon">
                                        <div class="blue"></div>
                                    </td>
                                    <td class="text">
                                        <h4>Incentives</h4>
                                    </td>
                                    <td class="amount">5％</td>
                                </tr>

                                <tr>
                                    <td class="icon">
                                        <div class="tan"></div>
                                    </td>
                                    <td class="text">
                                        <h4>Liquidity Miners</h4>

                                    </td>
                                    <td class="amount">95％</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="total-supply aos-init" data-aos="fade-up">
                        <img src="../public/Swapall/piechart.png" alt="swapall" data-aos="fade-up" data-aos-offset="100"
                            data-aos-delay="100" class="aos-init">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-5">
                    <div class="swapall-token-info">
                        <h2>Incentives<span>5%</span>
                            <div class="blue"></div>
                        </h2>
                        <p>5% of total token supply will be released to the team through stage pricing as
                            incentive token when the token price is greater than $1.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-7">
                    <div class="swapall-token-info">
                        <h2>Liquidity Miners<span>95%</span>
                            <div class="tan"></div>
                        </h2>
                        <p>
                            <ul>
                                <li style="color:#888888">Expected to be completed mined in 140 days. During the first
                                    14 days, the Pool 1
                                    (for
                                    Airdrop) will issue 500,000 tokens per week;</li>
                                <li style="color:#888888">After the first 14 days, the token issue amount will be
                                    halved, so that Pool 1 will
                                    issue
                                    250,000 tokens, meanwhile Pool 2 (for Liquidity) will be opened with issuing 500,000
                                    tokens
                                    per week. The total issue amount in Pool 1 and Pool 2 will be 750,000 per week;</li>
                                <li style="color:#888888"> After the second 14 days, the token issue amount will be
                                    halved again, so that Pool
                                    1 will
                                    issue 125,000 tokens, meanwhile Pool 2 will be opened with issuing 250,000 tokens
                                    per week.
                                    The total issue amount in Pool 1 and Pool 2 will be 375,000 per week; </li>
                                <li style="color:#888888">According to this issue process, there will be 2,000,000
                                    tokens
                                    mined after about 140
                                    days.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="swapall-roadmap" class="section" style="overflow-x: hidden;">
        <div class="container-md container-fluid">
            <h1>Roadmap</h1>
            <p>The development plan in Swapall</p>

            <div class="roadmap-wrapper">
                <ul class="roadmap mobile">
                    <li class="complete">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1>Sept 2020</h1>
                            <p>Early investor raising</p>
                        </div>
                    </li>

                    <li class="complete">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1>Sept 2020</h1>
                            <p>Prototype & product development and testing</p>
                        </div>
                    </li>

                    <li class="">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1>Oct 2020</h1>
                            <p>Liquid mining launched</p>
                        </div>
                    </li>

                    <li class="">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1>Nov 2020</h1>
                            <p>Oracle regular upgraded</p>
                        </div>
                    </li>

                    <li class="">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1>Q1 2021</h1>
                            <p>Governance regular upgraded</p>
                        </div>
                    </li>

                    <li class="">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1>Q2 2021</h1>
                            <p>Automatic Earning aggregator launched</p>
                        </div>
                    </li>

                    <li class="">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1>Q3 2021</h1>
                            <p>Private Exchange launched</p>
                        </div>
                    </li>

                    <li class="">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1>Q4 2021</h1>
                            <p>Combing Lending launched</p>
                        </div>
                    </li>
                    <li class="">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1>Sept 2021</h1>
                            <p>Community voting starts for the next step building</p>
                        </div>
                    </li>
                </ul>

                <div class="timeline"></div>
            </div>

        </div>
    </section>

    <!-- <section id="swapall-community" class="section">
        <div class="container">
            <img src="./public/Swapall/logo.png" alt="swapall 标志">
            <h1>Join our community</h1>
            <p>Get touch with us through the following path.</p>

            <div class="row">
                <div class="col-md-6 aos-init" data-aos="fade-up" data-aos-delay="100">
                    <a href="" target="_blank"><i class="fab fa-telegram-plane"></i>
                        Telegram</a>
                </div>
                <div class="col-md-6 aos-init" data-aos="fade-up" data-aos-delay="150" data-aos-offset="120">
                    <a href="" target="_blank"><i class="fab fa-discord"></i> Discord</a>
                </div>
                <div class="col-md-6 aos-init" data-aos="fade-up" data-aos-delay="175" data-aos-offset="150">
                    <a href="" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
                </div>
            </div>

            <hr>
        </div>
    </section> -->

    <footer>
        <div class="container-fluid" style="margin-top:40px">
            <div class="row footer-wrapper">
                <div class="col-md-5">
                    <div class="logo-wrapper">
                        <img src="../public/Swapall/logo.png" alt=" Logo">
                    </div>

                    <div class="social-wrapper">
                        <ul class="social-links gray">
                            <!-- <li><a href="" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
                            <li><a href="" target="_blank"><i class="fab fa-twitter"></i></a></li> -->
                        </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <ul class="footer-menu">
                        <li><a style="color:white" href="#swapall-benefits">Features</a></li>
                        <li><a style="color:white" href="#swapall-platform">Whitepaper</a></li>
                        <li><a style="color:white" href="#what-is-swapall-token-for">Token</a></li>
                        <li><a style="color:white" href="#swapall-roadmap">Roadmap</a></li>
                    </ul>
                </div> -->

                <div class="col-md-1">
                    <!-- <a class="back-to-top" href="#hero"><i class="far fa-caret-square-up"></i></a> -->
                </div>
            </div>

            <p class="copyright" style="text-align:center">© 2020 - Swapall</p>
        </div>
    </footer>

    <!-- <div class="footer-dots-wrapper"> -->
    <div class="bg-img-1 footer-dots" style="background-image: url(&#39;images/footer-dots.png&#39;)">
    </div>
    <!-- </div> -->

    <script src="../public/Swapall/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
    <script src="../public/Swapall/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="../public/Swapall/main.js"></script>
    <!-- <script src="https://kit.fontawesome.com/24c56a0ccb.js" crossorigin="anonymous"></script> -->

</body>

</html>