<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="../public/Swapall/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="../public/Swapall/icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/Swapall/icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/Swapall/icon.png">
    <link rel="manifest" href="">

    <!-- <link href="../Swapall/css2" rel="stylesheet"> -->

    <link rel="stylesheet" href="../public/Swapall/all.min.css">
    <link href="../public/Swapall/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/Swapall/styles.css">

    <title>Swapall-Lightning Puffs</title>
    <meta name="description"
        content="An advanced Decentralized Finance exchange with the expanding liquidity and more earnings.">
    <meta name="”robots”" content="index, follow">
</head>

<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
    <div class="language-select">
        <a class="" href="/swap-all" title="English"><img src="./Swapall/us-flag.png"></a> -->
        <a class="active" href="/swap-all-cn" title="Mandarin"><img src="../Swapall/china-flag.png"></a>
    </div>

    <div class="texture-bg hero-wrapper">
        <header class="container-fluid container-lg">
            <div class="row">
                <div class="col-md-4 col-lg-5">
                    <a href="" class="logo aos-init aos-animate" data-aos="fade-down" data-aos-delay="600">
                        <img src="../public/Swapall/logo.png" alt="swapall Logo">
                    </a>

                    <!-- <ul class="social-links gray">
                        <li data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate"><a href=""
                                target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
                        <li data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate"><a href=""
                                target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li data-aos="fade-up" data-aos-delay="400" class="aos-init aos-animate"><a href=""
                                target="_blank"><i class="fab fa-discord"></i></a>
                        </li>
                    </ul> -->
                </div>
                <div class="col-md-8 col-lg-7">
                    <ul class="menu">
                        <li><a style="color:white" href="#swapall-benefits">产品特色</a></li>
                        <li><a style="color:white" href="#swapall-platform">白皮书</a></li>
                        <li><a style="color:white" href="#what-is-swapall-token-for">代币</a></li>
                        <li><a style="color:white" href="#swapall-roadmap">产品路线图</a></li>
                        <!-- <li><a class="btn-circle" href="mailto:">Contact</a></li> -->
                    </ul>
                </div>
            </div>
        </header>

        <section id="hero" class="container section full-height">
            <br><br>
            <h1 data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">能<span>赚更多</span> 以及 <span>
                    更流动</span>的DeFi交易平台.</h1>
            <h2 data-aos="fade-up" data-aos-delay="400" class="aos-init aos-animate">无需KYC，没有无常损失，去中心化
            </h2>
            <div class="button-holder">
                <!-- <a data-aos="fade-up" data-aos-delay="1000" href="" class="button aos-init aos-animate"
                    target="_blank">Get Swapapp Token</a> -->
                <!--                <a data-aos="fade-up" data-aos-delay="1200" href="../public/Swapall/Swapall_Whitepaper.pdf"-->
                <!--                    class="button paper aos-init aos-animate" target="_blank">Whitepaper</a>-->
            </div>

            <p>通往DeFi的全新之路 <i class="fas fa-chevron-down"></i></p>
        </section>

        <img class="swapall-preview-dashboard aos-init aos-animate" data-aos="zoom-in-up" data-aos-offset="220"
            data-aos-duration="900" src="../public/Swapall/bg.png" alt="Swapall">

        <!-- <div class="bg-img-1" style="background-image: url(&#39;images/header_dots_circle.png&#39;)"></div>
        <div class="bg-img-2" style="background-image: url(&#39;images/header_dots_square.png&#39;)"></div> -->
    </div>

    <section id="swapall-platform" class="section white-bg full-height" style="position: relative; z-index: 5;">
        <div class="container">
            <div class="row" style="overflow-x: hidden; overflow-y: hidden;">
                <div class="col-md-6">
                    <h1><span>Swapall</span> - DeFi<br>流动性交易平台</h1>
                    <p>Swapall采用AMM自动做市商交易技术，使用多层架构迭代算法，构建具有更好收益与流动性的加密货币交易平台。在Swapall，用户无交易限额，无门槛限制，随时随地即可开始您的流动性交易之旅。
                    </p>
                    <ul>
                        <li data-aos="fade-left" data-aos-offset="200" class="aos-init" style="font-weight: 800;">
                            如需获取Swapall白皮书，请联系<a href="mailto:support@krawlcat.com"
                                style="color:#3F60B3;">support@krawlcat.com</a>.
                        </li>
                        <li data-aos="fade-left" data-aos-offset="200" class="aos-init">
                            DeFi市场与DEX去中心化交易所自2018年末受到了越来越多的关注，开始了爆发式的增长，用户数量屡破新高，高达3万/月。
                        </li>
                        <li data-aos="fade-left" data-aos-offset="200" class="aos-init">
                            尽管DeFi处于较早期的发展中，但我们仍旧可以在此基础上做出领先于市场的更具用户性的迭代产品，使来自不同领域的用户进行加密货币的交易尝试。
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 platform-image" style="overflow: hidden">
                    <div class="swapall-platform-img-wrapper">
                        <img data-aos="zoom-in-up" data-aos-offset="235" data-aos-duration="900"
                            class="img-preview-1 aos-init" src="../public/Swapall/preview.png" alt="
                            Swapall">

                    </div>
                </div>
            </div>
        </div>

        <div class="bg-img-1" style="background-image: url(&#39;images/dots_square.png&#39;)"></div>
    </section>

    <div class="texture-bg">
        <section id="swapall-benefits" class="section">
            <div class="container">
                <div class="row" style="overflow-x: hidden">
                    <div class="col-md-4 col-sm-6">
                        <h1>产品特色</h1>
                    </div>

                    <div class="col-md-4 col-sm-6 aos-init" data-aos="fade-left">
                        <div class="swapall-benefits-box">
                            <i class="fas fa-redo-alt"></i>
                            <h4>链下极速交易</h4>
                            <p>最极速的AMM流动性自动做市商算法平台，系统将分两步从半中心化的链下解决方案逐步迁移到Layer2的闪电技术交易。</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 aos-init" data-aos="fade-left">
                        <div class="swapall-benefits-box">
                            <i class="far fa-calendar-check"></i>
                            <h4>流动性做市升级方案</h4>
                            <p>
                                <ul>
                                    <li>动态权重算法 - EIP1973 预言机方案来给泡芙动态权重算法提供喂价。</li>
                                    <li>流动性杠杆算法 – 实现20倍的流动性放大</li>
                                    <li>允许提供单一代币的流动性</li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="swapall-benefits-box">
                            <i class="fas fa-tint"></i>
                            <h4>简单流畅的产品体验</h4>
                            <p>最“易上手”的DeFi 平台，流畅的产品操作能够使包括小白、资深、专业等加密货币投资
                                者无门槛高效使用。</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 aos-init" data-aos="fade-left">
                        <div class="swapall-benefits-box">
                            <i class="fas fa-chart-bar"></i>
                            <h4>隐私协议</h4>
                            <p>Swapall支持私密兑换，自带的交易混币功能，让用户个人数据无法追踪。</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 aos-init" data-aos="fade-left">
                        <div class="swapall-benefits-box">
                            <i class="fas fa-book"></i>
                            <h4>一站式投资功能</h4>
                            <p>结合区块链行业IEO 和IYO 的优势，打造新型体验。实现一号池发币，二号池做市，三号池投票，集成Swapall 交易的一站式服务，并且支持多链充提。</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="bg-img-special">
            <div class="bg-img-1" style="background-image: url(&#39;images/dots_triangle.png&#39;)"></div>
        </div>
        <!--
        <section id="swapall-quote" class="section aos-init" data-aos="fade-up-right" data-aos-offset="120"
            data-aos-duration="700">
            <div class="container">
                <div class="swapall-logo">
                    <img src="https://unitrade.app/index_zh.html">
                    <i class="fas fa-quote-left"></i>
                </div>
                <p class="quote">
                    "Uniswap 是一个非常不错的平台，但是可能是因为还太新了，基础建设还不完善。我常常想他们要是可以自由挂单交易就好了。可惜那时还没有人实现简单的自动化交易。
                    那就是我们做 <span>UniTrade</span> 的灵感来源。"
                </p>
                <p class="quote-author"><a href="https://twitter.com/reborn_1002" target="_blank"><i
                            class="fab fa-twitter"></i> @Reborn1002</a>, 创始人兼开发人员</p>
            </div>
        </section> -->
    </div>

    <section id="what-is-swapall-token-for" class="section white-bg">
        <div class="container">
            <h1>Swapall<span>(SAP)</span> 代币作用</h1>

            <div class="swapall-token-for-mobile" style="overflow-x: hidden">

                <div class="steps">
                    <div class="block aos-init" data-aos="fade-left">
                        <div class="emoji aos-init" style="background-color: #e9f1ff;" data-aos="zoom-in-up"
                            data-aos-offset="200"><i class="fas fa-coins"></i></div>
                        <div>
                            <h4>利润共享</h4>
                            <p>
                                Swapall开放金融体系内的所有产品中的佣金、手续费和管理费都会长期与SAP质押者以及体系内贡献者分享。</p>
                        </div>
                    </div>

                    <div class="block aos-init" data-aos="fade-left">
                        <div class="emoji aos-init" style="background-color: #e9f1ff;" data-aos="zoom-in-up"
                            data-aos-offset="200"><i class="fas fa-keyboard"></i></div>
                        <div>
                            <h4>流动性挖矿</h4>
                            <p> SAP可以参与Swapall 体系内的流动性挖矿。</p>
                        </div>
                    </div>

                    <div class="block aos-init" data-aos="fade-left">
                        <div class="emoji aos-init" style="background-color: #e9f1ff;" data-aos="zoom-in-up"
                            data-aos-offset="200"><i class="fas fa-money-bill-wave-alt"></i></div>
                        <div>
                            <h4>参与治理</h4>
                            <p>Swapall是一个需要庞大用户的用户体量来共同参与搭建的高效、开放的去中
                                心化金融生态体系，因此需要持币者共同治理决定这一体系的发展。SAP持币者可通过
                                质押参与投票决定流动性挖矿的参数、改进提案、产品发展模型等。
                            </p>
                        </div>
                    </div>

                    <div class="block aos-init" data-aos="fade-left">
                        <div class="emoji aos-init" style="background-color: #e9f1ff;" data-aos="zoom-in-up"
                            data-aos-offset="200"><i class="fas fa-users"></i></div>
                        <div>
                            <h4>借贷理财收益</h4>
                            <p>推出的一键式聚合型借贷服务，扩展用于借贷的底层资产，增强用户的资
                                产流动性。通过实时调整币种权重与最低利率的选择，降低用户的借贷成本。同时，基于信用预
                                言机，连接链下信用行为与链上金融行为。持有良好信贷记录的用户也可使用其“信用行
                                为”记录参与行为挖矿。</p>
                        </div>
                    </div>

                </div>
                <hr>
            </div>

            <div class="swapall-token-for">

                <div class="token-for-wrapper">

                    <div class="token-for-item">
                        <span>1</span>
                        <div class="icon-box">
                            <i class="fas fa-coins"></i>
                        </div>
                        <h4>利润共享</h4>
                        <p> Swapall 开放金融体系内的所有产品中的佣金、手续费和管理费都会长期与SAP质押者以及体系内贡献者分享。</p>
                    </div>

                    <div class="token-for-item">
                        <span>2</span>
                        <div class="icon-box">
                            <i class="fas fa-keyboard"></i>
                        </div>
                        <h4>流动性挖矿</h4>
                        <p>SAP可以参与Swapall 体系内的流动性挖矿。</p>
                    </div>

                    <div class="token-for-item">
                        <span>3</span>
                        <div class="icon-box">
                            <i class="fas fa-money-bill-wave-alt"></i>
                        </div>
                        <h4>参与治理</h4>
                        <p>Swapall是一个需要庞大用户的用户体量来共同参与搭建的高效、开放的去中
                            心化金融生态体系，因此需要持币者共同治理决定这一体系的发展。SAP持币者可通过
                            质押参与投票决定流动性挖矿的参数、改进提案、产品发展模型等。</p>
                    </div>

                    <div class="token-for-item">
                        <span>4</span>
                        <div class="icon-box">
                            <i class="fas fa-users"></i>
                        </div>
                        <h4>借贷理财收益</h4>
                        <p>推出的一键式聚合型借贷服务，扩展用于借贷的底层资产，增强用户的资产流动性。通过实时调整币种权重与最低利率的选择，降低用户的借贷成本。同时，基于信用预言机，连接链下信用行为与链上金融行为。持有良好信贷记录的用户也可使用其“信用行为”记录参与行为挖矿。
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="swapall-token-information" class="section white-bg">

        <div class="container">
            <div class="row token-info-wrapper">
                <div class="col-md-6 order-md-2 col-lg-8">
                    <div class="swapall-token-header">
                        <img src="../public/Swapall/icon.png" alt="swapall 代币信息 swapall" data-aos="fade-right"
                            class="aos-init">
                        <h3 data-aos="fade-left" class="aos-init">Swapall</h3>
                    </div>

                    <h1>SAP代币信息</h1>
                    <!-- <p>Total Supply:<span>60 Millions</span></p> -->

                    <div class="swapall-token-breakdown aos-init" data-aos="fade-up">

                        <table data-aos="fade-up" data-aos-offset="200" class="aos-init">
                            <tbody>
                                <tr>
                                    <td class="icon">
                                        <div class="blue"></div>
                                    </td>
                                    <td class="text">
                                        <h4>激励奖励</h4>
                                    </td>
                                    <td class="amount">5％</td>
                                </tr>

                                <tr>
                                    <td class="icon">
                                        <div class="tan"></div>
                                    </td>
                                    <td class="text">
                                        <h4>流动性挖矿</h4>

                                    </td>
                                    <td class="amount">95％</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="total-supply aos-init" data-aos="fade-up">
                        <img src="../public/Swapall/piechart.png" alt="swapall" data-aos="fade-up" data-aos-offset="100"
                            data-aos-delay="100" class="aos-init">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-5">
                    <div class="swapall-token-info">
                        <h2>激励奖励<span>5%</span>
                            <div class="blue"></div>
                        </h2>
                        <p>约占总发行量5%的代币将在价格大于1美金时按照阶梯价格释放给团队作为激励。</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-7">
                    <div class="swapall-token-info">
                        <h2>流动性挖矿<span>95%</span>
                            <div class="tan"></div>
                        </h2>
                        <p>
                            <ul>
                                <li style="color:#888888">预计140天时间挖完，前14天，一号池（空投池）每周产生50万枚；</li>
                                <li style="color:#888888">14天后一号池减半，一号池每周产生25万枚，同时开放二号池（流动性池）每周产生50万枚，两池每周共产生75万枚；</li>
                                <li style="color:#888888"> 14天后一号池减半，一号池每周产生12.5万枚；二号池每周产生25万枚，两池每周共产生37.5万枚；</li>
                                <li style="color:#888888">按照14天减半的释放速度，约140天后挖矿一
                                    号池和二号池的全部代币。</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="swapall-roadmap" class="section" style="overflow-x: hidden;">
        <div class="container-md container-fluid">
            <h1>发展路线图</h1>
            <p>Swapall的发展道路</p>

            <div class="roadmap-wrapper">
                <ul class="roadmap mobile">
                    <li class="complete">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1>2020年9月</h1>
                            <p>早期投资人募集</p>
                        </div>
                    </li>

                    <li class="complete">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1>2020年9月</h1>
                            <p>原型设计、产品开发与测试</p>
                        </div>
                    </li>

                    <li class="">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1>2020年10月</h1>
                            <p>流动性挖矿上线</p>
                        </div>
                    </li>

                    <li class="">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1>2020年11月</h1>
                            <p>预言机升级</p>
                        </div>
                    </li>

                    <li class="">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1>2021年第一季度</h1>
                            <p>治理机制升级</p>
                        </div>
                    </li>

                    <li class="">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1> 2021年第二季度</h1>
                            <p>自动收益聚合器上线</p>
                        </div>
                    </li>

                    <li class="">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1>2021年第三季度 </h1>
                            <p>隐私兑换上线</p>
                        </div>
                    </li>

                    <li class="">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1> 2021年第四季度</h1>
                            <p>聚合借贷上线</p>
                        </div>
                    </li>
                    <li class="">
                        <div class="marker aos-init" data-aos="fade-right"></div>
                        <div class="text aos-init" data-aos="fade-left" data-aos-offset="200">
                            <h1>2021年9月</h1>
                            <p>社区投票下一阶段开放金融世界路线搭建</p>
                        </div>
                    </li>
                </ul>

                <div class="timeline"></div>
            </div>

        </div>
    </section>

    <!-- <section id="swapall-community" class="section">
        <div class="container">
            <img src="./public/Swapall/logo.png" alt="swapall 标志">
            <h1>Join our community</h1>
            <p>Get touch with us through the following path.</p>

            <div class="row">
                <div class="col-md-6 aos-init" data-aos="fade-up" data-aos-delay="100">
                    <a href="" target="_blank"><i class="fab fa-telegram-plane"></i>
                        Telegram</a>
                </div>
                <div class="col-md-6 aos-init" data-aos="fade-up" data-aos-delay="150" data-aos-offset="120">
                    <a href="" target="_blank"><i class="fab fa-discord"></i> Discord</a>
                </div>
                <div class="col-md-6 aos-init" data-aos="fade-up" data-aos-delay="175" data-aos-offset="150">
                    <a href="" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
                </div>
            </div>

            <hr>
        </div>
    </section> -->

    <footer>
        <div class="container-fluid" style="margin-top:40px">
            <div class="row footer-wrapper">
                <div class="col-md-5">
                    <div class="logo-wrapper">
                        <img src="../public/Swapall/logo.png" alt=" Logo">
                    </div>

                    <div class="social-wrapper">
                        <ul class="social-links gray">
                            <!-- <li><a href="" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
                            <li><a href="" target="_blank"><i class="fab fa-twitter"></i></a></li> -->
                        </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <ul class="footer-menu">
                        <li><a style="color:white" href="#swapall-benefits">产品特色</a></li>
                        <li><a style="color:white" href="#swapall-platform">白皮书</a></li>
                        <li><a style="color:white" href="#what-is-swapall-token-for">代币</a></li>
                        <li><a style="color:white" href="#swapall-roadmap">产品路线图</a></li>
                    </ul>
                </div> -->

                <div class="col-md-1">
                    <!-- <a class="back-to-top" href="#hero"><i class="far fa-caret-square-up"></i></a> -->
                </div>
            </div>

            <p class="copyright" style="text-align:center">© 2020 - Swapall</p>
        </div>
    </footer>

    <!-- <div class="footer-dots-wrapper"> -->
    <div class="bg-img-1 footer-dots" style="background-image: url(&#39;images/footer-dots.png&#39;)">
    </div>
    <!-- </div> -->

    <script src="../public/Swapall/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
    <script src="../public/Swapall/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="../public/Swapall/main.js"></script>
    <!-- <script src="https://kit.fontawesome.com/24c56a0ccb.js" crossorigin="anonymous"></script> -->

</body>

</html>